body {
    font-family: Arial;
    text-align: center;
    font-size: 4.5vh;
    font-weight: bold;
}

a {
    font-family: 'Bangers', cursive;
    line-height: 6vh;
    text-decoration: none;
    color: #ff8400;
}

img {
    margin: auto;
    display: block;
}